---
layout: page
title: Daily-Notes
---

<ul>
  {% for note in site.notes %}
    <li>
      <h2 class="page-title"><a href="{{ note.url }}">{{ note.title }}</a></h2>
      <p class="excerpt">{{ note.excerpt }}</p>
    </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
