<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

        {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
        {% endcomment %}

        {% assign pages_list = site.pages | sort:"url" %}
        {% for node in pages_list %}
            {% if node.title != null %}
                {% if node.layout == "page" %}
                    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

    </nav>

    <div class="sidebar-item">
        <!-- social buttons -->
        {% if site.wp_username %}
        <a href="https://{{site.wp_username}}.wordpress.com" target="_blank" rel="noopener" style="text-decoration:none" title="Isuru @ WordPress">
            <i class="fab fa-wordpress"></i>
        </a>
        {% endif %}

        {% if site.github_username %}
        <a href="https://github.com/{{site.github_username}}" target="_blank" rel="noopener" style="text-decoration:none" title="Isuru @ GitHub">
            <i class="fab fa-github"></i>
        </a>
        {% endif %}

        {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener" style="text-decoration:none" title="Isuru @ Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        {% endif %}

        {% if site.linkedin_username %}
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener" style="text-decoration:none" title="Isuru @ LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        {% endif %}

        {% if site.youtube_channel %}
        <a href="https://youtube.com/channel/{{ site.youtube_channel }}" target="_blank" rel="noopener" style="text-decoration:none" title="Isuru @ YouTube">
            <i class="fab fa-youtube"></i>
        </a>
        {% endif %}
        <br>
        <span>Currently v{{ site.version }}</span>
        <p>
            &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
    </div>
</div>
