.navigation {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}
.current  {
    color: green;
    font-size: 20px;
    zoom: 2;
    margin-left: 10px;
    margin-right: 10px;
}

.page-title {
    color: #008000;
    margin-bottom: 0%;
}

.audit-tags {
    color: blue;
    font-size: 12px;
    margin-top: 0%;
}

.excerpt {
    margin-top: 0%;
}

.body {
    margin-left: 10px;
}
